@model IEnumerable<Domain.Models.User>
@using Domain.DataAccess


@inject TrackingDb Context

@using Microsoft.AspNetCore.Identity;
@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager


@using Domain.Models

@inject TrackingDb Context

@{
    ViewData["Title"] = "Пользователи";
}


<h1>Пользователи</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        if (Context.Users.FirstOrDefault(x => x.Email == User.Identity.Name).UserType == UserType.Admin || Context.Users.FirstOrDefault(x => x.Email == User.Identity.Name).UserType == UserType.Manager)
                        {

                            <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a>
                            <a asp-action="Delete" asp-route-id="@item.Id">Удалить </a>
                        }
                    }



                </td>
            </tr>
        }
    </tbody>
</table>
